{{ form_start(form) }}
    <div class="formcateg">
    {{ form_widget(form) }}
    <button class="btn btn-light buttoncateg">{{ button_label|default('Publier') }}</button>
    </div>
{{ form_end(form) }}